<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />  <title>RGTeria</title></head>
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>

<body>
  <section class="login flex justify-center pt-18">
    <div style="width: 300px; height: 80px;">
      <form action="/google" method="get" enctype="multipart/form-data"
        class="shadow-lg  dark:bg-gray-800 rounded px-8 pt-6 pb-8 mb-4">
        <% if(messages.error) { %>
          <span class="text-red-500 text-sm">
            <%= messages.error%>
          </span>
          <% }%>
            <div class="flex items-center justify-between md:justify-center mt-2 padding-center ">
              <img width="60px" class="mx-auto justify-center" style="margin-bottom:3px; " alt="Google sign-in"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
            </div>
            <div class="flex items-center justify-between md:justify-around mt-2">

              <button
                class=" focus:outline-none  transform px-8 py-2 rounded-full mx-auto justify-center bg-indigo-600  rounded-full text-white font-bold mt-6  padding-center "
                name="role" value="customer" type="submit">
                Log In as Customer
              </button>

            </div>
            <div class="flex items-center justify-between md:justify-around mt-2>
    
          <div class=" mt-2">
              <button
                class="focus:outline-none  transform px-6 py-2 rounded-full mx-auto justify-center   bg-indigo-600 rounded-full text-white font-bold mt-6  padding-center"
                name="role" value="admin" type="submit">
                Log In as Canteen Owner
              </button>
            </div>
    </div>

    </form>
    <!-- <a
            class="inline-block align-baseline font-bold text-sm"
            href="/register"
          >
            Don't have account?
          </a> -->
    </div>
    <!-- <p class="text-center text-gray-500 text-xs">
          &copy;2021 Alpha-Dev. All rights reserved.
        </p> -->
    </div>
  </section>
</body>

</html>